		<syle>
			.BullsFont {
				background-color:red;
				color: black;
				font-size: large;
			}
			.LakerFont {
				background-color:purple;
				color:yellow:
				font-size: medium;
				}
			.Poser {
				background-color:purple;
				color:yellow:
				font-size: medium;
				font-weight: bold;
				font-decoration: underline;
				}
		</style>